 <!----<div class="tab">
  <button class="tablinks" (click)="onselect('detail')" *ngFor="let do of down">{{do}}</button>
  </div> -->
  <div id="pd">
  <div class="tab">
    <div class="active">
    <button class="tablinks" (click)="onselect('detail')">My Details</button>
    <button class="tablinks" (click)="onselect('request')">Leave Request</button>
    <button class="tablinks" (click)="onselect('leave')">My Leave</button>
    <button class="tablinks" (click)="onselect('employee')">Employee Leave</button>
    <button class="tablinks" (click)="onselect('calender')">My Holiday Calender</button>
    <button class="tablinks" (click)="onselect('team')">My Team</button>
  </div>
</div>
</div>


  <!----<div class="btn-group btn-group-justified">
    <a href="#" class="btn btn-primary" (click)="onselect('detail')">Apple</a>
    <a href="#" class="btn btn-primary" (click)="onselect('det')">Apple</a>
    </div> -->