.rectangle-6 {
        height: 146px;
            width: 634px;	
            border-radius: 10px 10px 0 0;
                background-color: #FFFFFF;
                	box-shadow: 0 0 8px 0 #D8D8D8;}
        

        .rectangle-11 {
                border-radius:25px;
                    background-color: #20BF6B;
                    border-radius: 20px 20px 0 0;}