<div  class="col-sm-12"  id="pd">
  <div class="tab">
    <div class="active">
    <button class="tablinks" (click)="onselect('changes')">Request Changes</button>
    <button class="tablinks" (click)="onselect('types')"> Request Types</button>
    <button class="tablinks" (click)="onselect('settings')">Request Settings</button>
    <button class="tablinks" (click)="onselect('summary')">My Request Summary</button>
    <button class="tablinks" (click)="onselect('action')">My Action Summary</button>
  </div>
</div>
</div>
<app-requestcategories ></app-requestcategories>
