<div class="a">
<button class="b" (click)="onclick('a')"><i class="far fa-address-card">&nbsp;</i>About</button>
<button  class="b" (click)="onclick('b')"><i class="fas fa-user-graduate">&nbsp;</i>Experience </button>
<button  class="b" (click)="onclick('c')"><i class="fas fa-book-reader">&nbsp;</i>Training & Certification </button>
<button  class="b" (click)="onclick('d')"><i class="fas fa-male">&nbsp;</i>Others </button>
<button  class="b" (click)="onclick('e')"><i class="fas fa-heartbeat">&nbsp;</i>Medical</button>
<button  class="b" (click)="onclick('f')"><i class="far fa-file-alt">&nbsp;</i>Document</button>
<hr class="new1">
</div>

<!----<div class="a">
        <div class="container">
    <div (click)="onclick('a')"><i class="material-icons">contacts</i>About</div>
    <div (click)="onclick('b')"><i class="material-icons">next_week</i>Experience</div>
    <div><a href="#">Page 3</a></div>
</div>
</div>-->
