<div class="a">
<button class="b" (click)="onclick('a')">Detail<i class="far fa-address-card"></i></button>
<button  class="b" (click)="onclick('b')">Experience <i class="fas fa-user-graduate"></i></button>
<button  class="b" (click)="onclick('c')">Training & Certification <i class="fas fa-book-reader"></i></button>
<button  class="b" (click)="onclick('d')">Others <i class="fas fa-male"></i></button>
<button  class="b" (click)="onclick('e')">Medical<i class="fas fa-heartbeat"></i></button>
<button  class="b" (click)="onclick('f')">Document<i class="far fa-file-alt"></i></button>
<hr class="new1">
</div>

<!----<div class="a">
        <div class="container">
    <div (click)="onclick('a')"><i class="material-icons">contacts</i>About</div>
    <div (click)="onclick('b')"><i class="material-icons">next_week</i>Experience</div>
    <div><a href="#">Page 3</a></div>
</div>
</div>-->
