<div class="gpr1" id="line">
    
          <div class="one position-relative" *ngFor=" let chunk of medical">


               <span class="green-shadow-circle"> </span>

               <div  class="head"> {{chunk.name}}</div>
     
                <div  *ngFor=" let cause of chunk.values | keys">
                          <span >{{cause}}</span>
          

                   </div>
                               <button class="btn">Details</button>
           </div>

      
      <div  class= "second" *ngFor=" let dis of disability">

              <div>  <div  *ngFor=" let c of dis.values | keys">
               {{dis.name}} {{c}}
             </div></div>
      </div>

      <div> DEPENDENCY DETAILS___________________<a   href="#">   <span class="glyphicon glyphicon-pencil"></span></a></div>
      
          <div class="one position-relative" *ngFor=" let details of dependency">

               <span class="green-shadow-circle"> </span>

               <div  class="head"> {{details.name}}</div>
     
                <div  *ngFor=" let det of details.values | keys">
                          <span >{{det}}</span>
          

                   </div>
                               <button class="btn">Details</button>
           
</div>
