<div class="gpr1" id="line">

   
 <div class="one position-relative" *ngFor=" let chunk of causes">
  
   <span class="green-shadow-circle"> </span>
     <div  class="head"> <h6>{{chunk.title}}</h6></div>
     <h6><strong>{{chunk.name}}</strong></h6>
            
            <div  *ngFor=" let cause of chunk.values | keys">
                 <span >{{cause}}</span>
     
     </div>
 </div>
</div>


<div class="gpr" id="line2">
       
   <div class="one position-relative" *ngFor=" let cert of CERTIFICATION">
     
     
       <span class="green-shadow-circle"> </span>  

       <div  class="head"><h6>{{cert.name}}</h6> </div>
              
              <div  *ngFor=" let ce of cert.values | keys">
                   <span >{{ce}}</span> <br>
                   <button class="btn">Details</button>
       
       </div>
   </div>
 </div>