.position-relative {
    position: relative;
    height: 79px;	width: 420px;	height: 60px;	width: 266.86px;	color: #4A4A4A;	font-family: Lato;
    	font-size: 12px;	line-height: 20px;margin-bottom: 12px;
  }
  .grp {	height: 400px;	width: 420px;}
  .one{
   width: 316px;
   height: 79px; 
   
  
   padding-bottom: 26px;
   padding-left:23.8px;
  }
  .training{
    padding-bottom: 5px;
  }
  
  .head{
      color:	#20BF6B;
  padding-top:10px;
      
  }
  .train{
    color:#20BF6B;
  }
  .one:after {
    content: ' ';
    position: absolute;
    left: 0;
    top: 30px;
    margin-top: 2px;
    margin-right: 3px;
    background-color: #20BF6B;
    width: 4px;
    height: 67%;
  }
  
  .green-shadow-circle {
    position: absolute;
    background-color: #fff;
    box-shadow: 0 1px 10px 1px #ccc;
    top: 0;
    left: -10px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    z-index: 1;
  }
  
  .green-shadow-circle:after {
    content: '';
    background-color: #20BF6B;
    position: absolute;
    left: 6.5px;
    border-radius: 50%;
    top: 7px;
    height: 50%;
    width: 50%;
  }
  .two{
    width: 479.36px;
    height: 79px;
  } 
  .two:after {
    content: '';
    position: absolute;
    left: 0;
    top: 30px;
    margin-top: 2px;
    background-color: #20BF6B;
    width: 4px;
    height: 52%;
  }
  .cert{
    color:#20BF6B;
  }
  .btn{height: 18.42px;	width: 50.35px;	border-radius: 5.5px;	background-color: #20BF6B;color: #fff ; font-size: 10px;
    	line-height: 1em;	text-align: center;}